.footer {
  padding-top: 42px;
  padding-bottom: 42px;
  .nav-link {
    font-size: 12px;
    line-height: 37px;
    color: $brand-white;
    transition: 0.3s all;
    &.active, &:hover {
      color: $brand-green;
    }
  }
}
