.navbar {
  background: $black;
  padding: 20px 0;

  .nav-link {
    font-size: 12px;
    line-height: 37px;
    color: $brand-white;
    &.active {
      color: $brand-green;
    }
  }


  &__burger {
    width: 40px;
    height: 40px;
    position: absolute;
    //right: 20px;
    right: 20px;
    display: block;
    //top: 12px;
    top: 31px;
    //top: 50%;
    //transform: translateY(-50%);
    cursor: pointer;
    outline: none !important;
    border: none;
    background: transparent;

    z-index: 421;
    span {
      position: absolute;
      left: 5px;
      width: 30px;
      height: 3px;
      transition: all 500ms ease-in-out;
      margin: 0;
      background-color: $white;

      &:nth-child(1) {
        top: 10px;
      }

      &:nth-child(2) {
        top: 18px;
      }

      &:nth-child(3) {
        top: 26px;
      }
    }
    &:not(.collapsed) {
      span {
        &:nth-child(1) {
          top: 14px;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          top: 14px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
