// Black Theme
$black: #000;
$white: #fff;

$brand-white: #F2F2F2;
$brand-green: #008749;
$brand-black: #1D2024;

$brand-orange: #F7931A;
$brand-yellow: #E8DA50;

$brand-black-light: #1D2024;
$brand-grey: #2A2B31;
$brand-grey-light: #939DAA;
$brand-text: #F2F2F2;
$brand-text-gray: #878896;


$brand-blue: #2a2c57;
$brand-red: #e24343;

$light: 300;
$regular: 400;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$weight-black: 900;

$font-family: 'Montserrat', 'Roboto', 'Lato', sans-serif;

$telegram-color: #279bd3;
$viber-color: #784f97;
$whatsup-color: #30d14e;
