.certificate {
  padding-top: 60px;
  padding-bottom: 60px;
  &__title {
    font-weight: $medium;
    font-size: 24px;
    line-height: 29px;
    border-bottom: 3px solid $brand-green;
    display: inline-block;
    padding-right: 30px;
    padding-bottom: 5px;
  }
  &__item {
    position: relative;
    padding-left: 24px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      width: 12px;
      height: 12px;
      background: $brand-green;
      border-radius: 3px;
    }
  }
}
